In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import time
import re
import lxml

<h2> STEP 1 - SCRAPING </h2>

<h3> NASA Mars News </h3

In [2]:
# URL of webpage to be scraped
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [3]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', headless=False)

In [4]:
# URL of webpage to be scraped
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)
time.sleep(10)

In [5]:
html = browser.html
soup = bs(html, 'html.parser')

news_div = soup.find_all('div', class_='content_title')[1]
news_title = news_div.find('a').text
news_title

"How NASA's Perseverance Mars Team Adjusted to Work in the Time of Coronavirus "

In [6]:
paragraph_div = soup.find_all('div', class_='article_teaser_body')[0]
news_paragraph = paragraph_div.text
news_paragraph

'Like much of the rest of the world, the Mars rover team is pushing forward with its mission-critical work while putting the health and safety of their colleagues and community first.'

<h3> JPL Mars Space Images - Featured image </h3>

In [8]:
# URL of webpage to be scraped
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)
time.sleep(5)

#response = requests.get(url)
#soup = bs(response.text, 'html.parser')

In [9]:
html = browser.html
soup = bs(html, 'html.parser')

photo_anchor_tag = soup.find('a', id='full_image')
photo_anchor_tag

<a class="button fancybox" data-description="This enhanced-color image from NASA's Mars Reconnaissance Orbiter shows sand dunes trapped in an impact crater in Noachis Terra, Mars." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA15283_ip.jpg" data-link="/spaceimages/details.php?id=PIA15283" data-title="Dunes in Noachis Terra Region of Mars" id="full_image">
					FULL IMAGE
				  </a>

In [10]:
featured_image_url =  photo_anchor_tag.get('data-fancybox-href')
featured_image_url = 'https://jpl.nasa.gov' + featured_image_url
featured_image_url

'https://jpl.nasa.gov/spaceimages/images/mediumsize/PIA15283_ip.jpg'

<h3> Mars Weather </h3>

In [11]:
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)
time.sleep(5)

In [12]:
html = browser.html
soup = bs(html, 'html.parser')
mars_weather_span = soup('span', text=re.compile('InSight sol .*'))[0]
mars_weather = mars_weather_span.text
mars_weather

'InSight sol 501 (2020-04-24) low -93.5ºC (-136.2ºF) high -4.3ºC (24.3ºF)\nwinds from the SW at 5.0 m/s (11.3 mph) gusting to 15.8 m/s (35.3 mph)\npressure at 6.70 hPa'

<h3> Mars Facts </h3>

In [13]:
url = "https://space-facts.com/mars/"
browser.visit(url)
time.sleep(5)

In [14]:
html = browser.html
soup = bs(html, 'html.parser')
mars_facts_table = soup('table', id='tablepress-p-mars-no-2')[0]
mars_facts_table

<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars-no-2"><tbody><tr class="row-1 odd"><td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/></td></tr><tr class="row-2 even"><td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/></td></tr><tr class="row-3 odd"><td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.39 × 10^23 kg<br/> (0.11 Earths)</td></tr><tr class="row-4 even"><td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/moons/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/moons/deimos/">Deimos</a>)</td></tr><tr class="row-5 odd"><td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km<br/> (1.38 AU)</td></tr><tr class="row-6 even"><td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/></td></tr><tr class="row-7 odd"><td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-87 to -5 °C</td></tr><tr class="row-8 even"><td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td></tr><tr class="row-9 odd"><td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td></tr></tbody></table>

In [30]:
mars_facts_dfs = pd.read_html('https://space-facts.com/mars/')
mars_facts_df = mars_facts_dfs[0]
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [32]:
mars_facts_df.set_index(0)

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

<h3> Mars Hemispheres </h3>

In [88]:
# Navigate to initial page
# (Sleep time to allow page to fully load)

url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)
time.sleep(3)

# Find all the text links
html = browser.html
soup = bs(html, 'html.parser')
link_divs = soup.find_all('div', class_='description')

# Loop over text links to populate array of dicts.
hemisphere_image_urls = []

for item in link_divs:
    link_dict = {}  #Creates new dict
    link_dict['title'] = item.a.text #Sets anchor tag text into 'title'
    # Code below visits link to get full image URL
    browser.visit('https://astrogeology.usgs.gov' + item.a['href']) 
    time.sleep(3)
    loop_html = browser.html # Gets html from new page
    loop_soup = bs(loop_html, 'html.parser') # Sets up soup
    image = loop_soup.find_all('img', class_='wide-image')[0] # Uses soup to find all images with class of 'wide-image'
    link_dict['img_url'] = 'https://astrogeology.usgs.gov/' + image['src'] # Sets image's url into the dict
    hemisphere_image_urls.append(link_dict) # Appends to dict

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov//cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

<h2> Step 2 - MongoDB and Flask Application </h2>